body, html {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background: aqua;
}

h1 {
  font-weight: 600;
  font-size: 30px;
}
h2 {
  font-weight: 300;
  font-size: 18px;
  margin-top: 0;
}
h2 span {
  font-weight: 600;
}

#hero {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translateY(-50%) translateX(-50%);
  /*background: #00449D;*/
  background: rgba(0,68,157,.9);
  color: white;
  padding: 1rem;
  /*max-width: 90%;*/
  width: 80%;
}

.contact-icon {
  transition: opacity .3s;
}
.contact-icon:hover {
  opacity: .5;
}

.contact-icon svg {
  height: 30px;
  margin-right: 1rem;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  h1 {
    font-size: 65px;
  }
  h2 {
    font-size: 34px;
  }
  #hero {
    max-width: 60%;
    padding: 2rem;
  }
  .contact-icon svg {
    height: 40px;
  }
}

@media (min-width: 1200px) {
  #hero {
    max-width: 60%;
  }
}
